{%- assign generated = include.id | prepend: "https://docs.google.com/presentation/d/" | append: "/embed?rm=minimal" -%}
<div class="module full-width">
<iframe src="{{ include.src | default: generated }}"
        {% if include.id %}
        class="slide"
        {% endif %}
        {% if include.aspect_ratio %}
        style="aspect-ratio: {{ include.aspect_ratio }}"
        {% endif %}
        frameborder="0"
        allowfullscreen="true"
        mozallowfullscreen="true"
        webkitallowfullscreen="true"
        sandbox="allow-scripts allow-same-origin"
></iframe>
</div>
